@import url("https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkaibright/dist/LXGWBright-Regular/result.css");
@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@4.2.1/index.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,1..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

/* --- 配色 --- */

:root {
	/**
   * 主题色
   * -------------------------------------------------------------------------- */
	--vp-c-brand-1: #5086a1;
	--vp-c-brand-2: #6aa1b7;
	--vp-c-brand-3: #8cccd5;
	--vp-c-brand-soft: rgba(131, 208, 218, 0.314);

	/**
   * 文本颜色
   * -------------------------------------------------------------------------- */

	--vp-c-text-1: rgba(60, 60, 67); /* 主要文本 */
	--vp-c-text-2: rgba(60, 60, 67, 0.78); /* 次要文本 */
	--vp-c-text-3: rgba(60, 60, 67, 0.78); /* 辅助文本 */

	/**
   * 背景色
   * -------------------------------------------------------------------------- */

	--vp-nav-bg-color: #f1f1f1;
	--vp-nav-screen-bg-color: #f1f1f1;
	--vp-local-nav-bg-color: #f1f1f1;
	--vp-c-bg: #fbfaf5;
	--vp-c-bg-soft: #f1f1f1;
	--vp-c-bg-elv: #fbfaf5;
	--vp-sidebar-bg-color: #f1f1f1;
	--vp-code-block-bg: #f1f1f1;
	--vp-c-divider: #f1f1f1;
	--vp-c-bg-alt: #fbfaf5;
}

:root[data-theme="dark"] {
	/**
   * 主题色
   * -------------------------------------------------------------------------- */

	--vp-c-brand-1: #8cccd5;
	--vp-c-brand-2: #6aa1b7;
	--vp-c-brand-3: #5086a1;
	--vp-c-brand-soft: rgba(131, 208, 218, 0.314);

	/**
   * 文本颜色
   * -------------------------------------------------------------------------- */

	--vp-c-text-1: rgba(255, 255, 245, 0.86); /* 主要文本 */
	--vp-c-text-2: rgba(235, 235, 245, 0.6); /* 次要文本 */
	--vp-c-text-3: rgba(235, 235, 245, 0.6); /* 辅助文本 */

	/**
   * 背景色
   * -------------------------------------------------------------------------- */
	--vp-nav-bg-color: #3e3e3e;
	--vp-nav-screen-bg-color: #3e3e3e; /* 移动端导航栏 */
	--vp-local-nav-bg-color: #3e3e3e; /* 页面内导航栏 */
	--vp-c-bg: #2c2c2c;
	--vp-c-bg-soft: #3e3e3e;
	--vp-c-bg-elv: #343434;
	--vp-sidebar-bg-color: #3e3e3e;
	--vp-code-block-bg: #3e3e3e;
	--vp-c-divider: #2c2c2c;
	--vp-c-bg-alt: #2c2c2c;
}

/* --- 微调 --- */

:root {
	--vp-font-family-base: "LXGW Bright", sans-serif;
	--vp-font-family-mono: "Cascadia code";
	font-optical-sizing: auto;
	--vp-custom-block-font-size: 17px;
}

.vp-doc :not(pre) > code {
	color: var(--vp-c-text-1);
}

.vp-doc .hint-container.tip code {
	color: var(--vp-c-text-1);
}

pre::-webkit-scrollbar {
	display: none;
}

.vp-doc div[class*="language-"] pre,
.vp-doc div[class*="language-"] code,
.vp-doc div .line-number,
.vp-doc div button {
	font-weight: 350;
	font-variant-ligatures: normal;
	font-size: 11pt;
}

:root:where(:lang(zh)),
:root:where(:lang(zh-CN)) {
	--vp-font-family-base: "Ysabeau Infant", "LXGW Bright", sans-serif;
}

html {
	font-size: 19px;
	font-weight: 450;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga" 1, "dlig" 1, "tnum";
}

a::after {
	display: none !important;
}

.vp-doc blockquote > p:not(.katex) {
	font-size: 1em;
	padding: 10px 0;
}

.hint-container-title {
	display: none;
}

blockquote::before {
	display: none;
}

.vp-doc h2 {
	margin: 0 0 16px;
}

.vp-doc table {
	place-items: center;
}

.vp-timeline-line {
	color: var(--vp-c-divider) !important;
}

.vp-posts {
	background-color: transparent;
}

.vp-profile,
.nav-link,
.vp-pagination,
.vp-post-item {
	background-color: var(--vp-c-bg-soft) !important;
}

.vp-doc img {
	text-align: center;
}

.tag-name,
.blog-post-item-content .post-meta .tag-list,
.blog-post-item-content .post-meta a,
.vp-category-group .folder,
.vp-doc-meta .tag {
	font-family: "Ysabeau";
}

.vp-footer {
	font-family: "Ysabeau";
}

.root {
	--vp-sidebar-width: 245px;
}

@media (min-width: 1280px) {
	.content[data-v-d64b92aa] {
		padding: 0 28px 128px;
	}
}

.vp-friend {
	background: rgba(255, 255, 255, 0.05) !important;
	-webkit-backdrop-filter: blur(1.5px);
	backdrop-filter: blur(1.5px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
	padding: 1.2rem;
	margin-bottom: 1.5rem;
	transition: transform 0.3s, box-shadow 0.3s;
	border: 1px solid
		rgb(from var(--vp-c-divider) calc(1 - r) calc(1 - g) calc(1 - b));
}

:root {
	--tk-radius: 12px;
	--tk-second-radius: 6px;
	--tk-card-border-width: 1px;
	--tk-border-color: #e3e8f7;
	--tk-action-bg: #fff;
	--tk-card-border: #e3e8f7;
	--tk-owo-body-bg-color: rgba(255, 255, 255, 0.7);
	--style-border-always: 1px solid var(--tk-card-border);
	--tk-comment-border: 0.5px solid var(--tk-card-border);
}

html.dark {
	--tk-border-color: #42444a;
	--tk-action-bg: #2c2c2c;
	--tk-card-border: #42444a;
	--tk-owo-body-bg-color: rgba(0, 0, 0, 0.7);
	--tk-text: #ccb !important;
	--style-border-always: 1px solid var(--tk-card-border);
	--tk-comment-border: 0.5px solid var(--tk-card-border);
}

@keyframes modal_effect {
	0% {
		opacity: 0;
		transform: translate(-50%, -60%);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

.vp-navbar-title .vp-link.no-icon.link.title {
	font-size: 15pt !important;
	font-weight: 400;
}

.vp-link.link.navbar-menu-link {
	font-size: 13pt !important;
}

.vp-flyout.vp-navbar-menu-group .button.button span.text {
	font-size: 13pt !important;
}

.katex {
	color: var(--vp-c-text-1) !important;
}

.profile-info {
	font-family: "Ysabeau";
}

.vp-repo-card {
	background-color: var(--vp-code-block-bg);
}

.search-input {
	font-family: var(--vp-font-family-base);
	font-feature-settings: "liga" 1, "dlig" 1;
	background-color: var(--vp-c-bg);
}

.pager {
	background-color: var(--vp-c-bg);
}

.vp-navbar .vp-social-link.no-icon {
	display: none;
}

.vp-nav .vp-navbar,
.vp-nav .vp-navbar .content-body {
	background: linear-gradient(
		to bottom,
		color-mix(in srgb, var(--vp-c-bg-soft) 100%, transparent),
		color-mix(in srgb, var(--vp-c-bg) 20%, transparent)
	) !important;
}

.vp-sidebar .curtain {
	background: linear-gradient(
		to bottom right,
		color-mix(in srgb, var(--vp-c-bg-soft) 100%, transparent),
		color-mix(in srgb, var(--vp-c-bg) 50%, transparent)
	) !important;
}

.vp-nav .divider {
	display: none;
}

.vp-sidebar {
	z-index: 2;
	background: linear-gradient(
		to right,
		color-mix(in srgb, var(--vp-c-bg-soft) 100%, transparent),
		color-mix(in srgb, var(--vp-c-bg) 40%, transparent)
	) !important;
}

/* --- Twikoo 相关 --- */

.tk-submit .tk-avatar {
	display: none;
}

/* 把个人信息翻下去 */
.tk-row {
	.tk-col {
		flex-direction: column-reverse;
	}
}

/* 个人信息 */
.tk-meta-input {
	min-height: 40px;
	position: relative;
	margin-top: 10px;

	input {
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		min-height: inherit;
	}

	.el-input__inner:focus {
		border-color: rgba(144, 147, 153, 0.7);
	}

	.el-input-group__prepend {
		background: inherit;
	}

	div {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		min-height: inherit;
	}
}

/* 评论框 */
.tk-input.el-textarea {
	textarea {
		padding-top: 16px;
		border-radius: 12px;
		min-height: 150px !important;
		height: auto;
		line-height: 1.5;
	}
}

/* 底下的一排按钮 */
.tk-row.actions {
	justify-content: space-between;
	width: 100%;
	margin-top: 5px;
	margin-left: auto;

	button.el-button {
		border-radius: 12px !important;
	}

	.__markdown {
		display: none;
	}
}

/*~ tk-comments-container ~*/

/* 评论区主题样式 */
.tk-comments-container {
	margin-top: 1.5rem;
}

.tk-comments-title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: space-between;

	.__comments {
		color: inherit;
	}
}

.tk-comment {
	margin: 0.5rem 0 !important;
	padding: 1rem;
	font-size: inherit;
	line-height: 1.75 !important;
	display: flex;
	flex-direction: row;
	word-break: break-all;
	border: var(--tk-comment-border);
	border-radius: 1rem;
	transition: all 0.3s ease;
	position: relative;
	z-index: 1;
	border-color: var(--vp-c-bg);

	&:hover {
		border-color: rgb(
			from var(--vp-code-block-bg) calc(1 - r) calc(1 - g) calc(1 - b)
		);
		box-shadow: 0 1px 2px
			rgb(from var(--vp-code-block-bg) calc(1 - r) calc(1 - g) calc(1 - b));
	}

	.tk-avatar.tk-has-avatar {
		border-radius: 50%;
		flex-shrink: 0;
		margin-right: 16px !important;
		object-fit: cover;
	}

	@media (max-width: 768px) {
		font-size: 0.875rem !important;

		.tk-avatar.tk-has-avatar {
			width: 2rem !important;
			height: 2rem !important;
		}

		.tk-avatar-img {
			width: 2rem !important;
			height: 2rem !important;
		}
	}
}

.tk-main {
	flex: 1;

	.tk-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		a {
			text-decoration: none !important;
			background-image: none !important;
		}
	}

	.tk-meta {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5rem;

		.tk-nick {
			font-size: 1rem !important;
			line-height: 1.5;
			font-weight: 500;

			&:hover {
				transition: color 0.2s ease;
			}

			@media (max-width: 768px) {
				font-size: 0.875rem !important;
			}
		}

		.tk-time {
			font-size: 0.8rem;
			margin-left: auto;
		}
	}

	.tk-action {
		border: var(--style-border-always);
		border-radius: var(--tk-second-radius);
		padding: 2px 6px;
		cursor: pointer;
		transition: all 0.3s ease;
		text-align: center;
		border-color: var(--vp-c-divider);

		&:hover {
			background: rgba(255, 255, 255, 0.05) !important;
			-webkit-backdrop-filter: blur(1.5px);
			backdrop-filter: blur(1.5px);
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		.tk-action-link:first-child {
			display: none;
		}
	}

	.tk-content {
		margin-top: 0.2rem;

		img {
			max-width: 100%;
			height: auto;
			display: inline-block;
			vertical-align: middle;
		}

		a {
			text-decoration: none;
			background-image: none;
		}
	}
}

/* 回复卡片的表情面板 */
.tk-replies {
	max-height: 10rem !important;

	&.tk-replies-expand {
		max-height: none !important;
	}

	.tk-comment {
		padding: 1rem;
		margin: 0.5rem 0 !important;
		border: var(--tk-comment-border);
		opacity: 0.9;
		border-color: var(--vp-c-bg);

		&:hover {
			transform: none;
			border-color: rgb(
				from var(--vp-code-block-bg) calc(1 - r) calc(1 - g) calc(1 - b)
			);
			box-shadow: 0 2px 4px
				rgb(from var(--vp-code-block-bg) calc(1 - r) calc(1 - g) calc(1 - b));
		}
	}

	.tk-content span:first-child:not(.token) {
		font-size: 0.75rem;
		color: var(--tk-text);
	}
}

.tk-ruser {
	text-decoration: none !important;
	background-image: none !important;
}

.twikoo {
	svg {
		color: var(--tk-text);
	}

	.tk-expand {
		border-radius: var(--tk-radius);
	}
}

.tk-tag {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	border-radius: 0.375rem;
	font-size: 0.75rem;
	font-weight: 500;
	color: #fff;
	white-space: nowrap;
	margin: 0;
	line-height: 1.2;
}

@media (max-width: 768px) {
	.tk-tag {
		padding: 0.125rem 0.375rem;
		font-size: 0.75rem;
	}

	.tk-meta {
		gap: 0.375rem !important;
	}
}

.tk-admin {
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	z-index: 999;

	a {
		color: inherit;
		text-decoration: none;
		background-image: none;
	}
}

/* 隐藏 Powered By Twikoo */
.tk-footer {
	display: none;
}

.tk-preview-container {
	margin-left: 0 !important;
}

.tk-row.actions {
	margin-left: 0 !important;
}

/* --- 方格背景及相关调整 --- */

body {
	background: var(--vp-c-bg);
	position: relative;
	min-height: 100%;
	font-weight: 500;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 0;
	background-image: linear-gradient(
			to right,
			rgb(from var(--vp-c-divider) calc(1 - r) calc(1 - g) calc(1 - b)) 1px,
			transparent 1px
		),
		linear-gradient(
			to bottom,
			rgb(from var(--vp-c-divider) calc(1 - r) calc(1 - g) calc(1 - b)) 1px,
			transparent 1px
		);
	background-size: 26px 26px;
	background-position: center center;
	opacity: 0.1;
	mix-blend-mode: luminosity;
}

.pager:empty {
	background-color: transparent;
}

.tk-input.el-textarea {
	textarea {
		background: rgba(255, 255, 255, 0.05) !important;
		-webkit-backdrop-filter: blur(1.5px);
		backdrop-filter: blur(1.5px);
	}
}

.el-input.el-input--small.el-input-group.el-input-group--prepend,
.tk-preview-container,
.tk-comment {
	background: rgba(255, 255, 255, 0.05) !important;
	-webkit-backdrop-filter: blur(1.5px);
	backdrop-filter: blur(1.5px);
}

.demo-head {
	background: rgba(255, 255, 255, 0.05) !important;
	-webkit-backdrop-filter: blur(1.5px);
	backdrop-filter: blur(1.5px);
}
