@import url('https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css');
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.min.css');

:root {
    --vp-font-family-base: "LXGW WenKai", sans-serif;
    --vp-font-family-mono: "LXGW WenKai", monospace;
    font-optical-sizing: auto;
    --vp-c-text-3: rgba(60, 60, 67, .78);
    --vp-custom-block-font-size: 17px;
}

[data-theme=dark] {
    --vp-c-text-3: rgba(235, 235, 245, .6);
}

:root:where(:lang(zh)),
:root:where(:lang(zh-CN)) {
    --vp-font-family-base: "LXGW WenKai", sans-serif;
}

html {
    font-size: 19px;
    font-weight: 400;
}

.vp-doc blockquote > p {
    font-size: 1em;
}

.hint-container-title {
    display: none;
}

blockquote::before {
    display: none;
}